
body{
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    padding: 10px 30px;
    border: solid;
    background-color:  rgb(187, 141, 208);
    display: flex;
    justify-content: space-between;
    height: 70px;
}


.dogContainer{
   border: solid black;
   background-color:  rgb(187, 141, 208);
  margin: 1em auto; 
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
    border: solid  black;
    text-align: center;
}

.dogPics{
    width: 30%;
    height: 10%;
    border: solid black;

}




.dogFacts{
    border: solid black;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 200px;
    text-align: center;
    background-color:  rgb(187, 141, 208);
   
}

img {
    height: 65vh;
    width: auto;
    display: block;
    margin: 0 auto;
}


@media screen and (min-width: 500px) {
    
}

@media screen and (min-width: 900px) {
 
}




.doggie{
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin-left: 15em;
    border: solid black;

}

button{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    margin-bottom: 5em;
    
}


li{
    list-style: none;
    display: inline-block;

}

.dropdown button{
    background-color: white;
    padding: 10px 15px;
    border: none;

}

.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}


.dropdown a:hover{
    background-color: rgb(171, 216, 255);
}

.dropdown{
    display: inline-block;
}

.dropdown:hover .more{
    display: block;

}

.dropdown .more{
    background-color: white;
    min-width: 100px;
    box-shadow: 2px;
    display: none;
    position: absolute;
}



.middleLogo{
  padding-left: 50em;

}


.menuLogo{
    border-radius: 50%;
    width: 20px;
    height: 20px;
}


h2{
    text-align: center;
    border: solid;
    background-color: rgb(233, 75, 183);
   
}